modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["openssl", "postgresql"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5023", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5023 --reuse-port --reload main:app"
waitForPort = 5023

[[ports]]
localPort = 5023
externalPort = 80

[[ports]]
localPort = 32945
externalPort = 3000

[[ports]]
localPort = 33333
externalPort = 3002

[[ports]]
localPort = 36831
externalPort = 5023

[[ports]]
localPort = 39443
externalPort = 3001

[[ports]]
localPort = 39751
externalPort = 4200

[[ports]]
localPort = 44473
externalPort = 3003

[agent]
